.background
{
  background-color: #CEE7FF;
}

.inner-container
{
  margin-left: 15%;
  margin-right: 15%;
  height:100%;
}

.transbox
{
  height:100%;
  background-color: #ffffff;
  opacity:0.7;
  filter:alpha(opacity=70);

}

div.transbox p
{
  margin: 5%;
  font-weight: bold;
  color: #000000;
}